<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test on p5</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/p5.js"></script>
  <script language="javascript" type="text/javascript" src="javascripts/sketch.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>